@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kaisei+Tokumin:wght@400;500;700;800&family=Montserrat:wght@500&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Corinthia:wght@700&family=Kaisei+Tokumin:wght@400;500;700;800&family=Montserrat:wght@500&family=Poppins:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.about{
    /* background-color: rgb(231, 226, 226); */
    background-color: white;
    margin-bottom: 40px;
}
.aboutDiv{
    margin-bottom: 40px;
}

.about_hero img{

    background-size: cover;

    width: 400px;
    height: 80vh;
    margin-top: 40px;
    opacity:1;
    filter: brightness(0.5);

}
.about_head img{
    background-size: cover;

    width: 400px;
    height: 80vh;
    margin-top: 40px;
    opacity:1;
   
    filter: brightness(0.5);
    
}
.heroAboutImg{
    box-shadow: 0 4px 6px rgba(0,0,0,0.8);

}

.about_para
{
    margin-top: 120px;
    width: 80%;
    color: black;
    
}

.about_heading{
    position: relative;
    font-size: 90px;
    top: 90px;
    right: 10px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    /* color:  #D04068;; */
    /* font-size: 3rem; */
}
.about_images
{
    width:  320px;
    height: 253px;
    filter: brightness(50%);
  box-shadow: rgba(100, 99, 99, 0.6) 0px 3px 8px;

}

.midtitle{
    font-family: 'Times New Roman', Times, serif;
    color:  #D04068;
    font-size: 3rem;
}
.housePicsSection img {
    width: 300px;
    filter: brightness(90%);
    box-shadow: 0 3px 5px rgba(0,0,0,.5);
    border: 4px solid rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 40px;

}
.house_1{
    position: relative;
    top: 70px;
    right: 10px;
}
.house_3{
    position: relative;
    left: 90px;
    top: 10px;
}
.aboutBottomDiv{
    margin-bottom: 40px;
}
.undeline{
    background-color: #D04068;
    height: 1px;
    width: 300px;

}
.underlineBottom{
    width: 20%;
    margin: auto;
}

.underlineTop{
    width: 40%;
    margin: auto;
    position: relative;
    top: 80px;

}
.midheading{
    margin-top: 40px;
}